.caledar__page--header {
	background-color: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	height: 3vh;

	.actions {
		display: flex;
		flex: 1;
		justify-content: center;
	}

	.info {
		font-family: 'Gotham Bold';
		font-size: 30px;
		align-self: center;

        b {
            padding-right: 5px;
        }
	}

	#monthly {
		border-top-left-radius: 10%;
		border-bottom-left-radius: 10%;
		border-right: none;
	}

	#yearly {
		border-top-right-radius: 10%;
		border-bottom-right-radius: 10%;
	}

	button {
		background-color: transparent;
		border: 1px solid #dc5249;
		padding-left: 30px;
		padding-right: 30px;
		cursor: pointer;
		color: #dc5249;
		font-weight: 600;

		&.active {
			background-color: #dc5249;
			color: #f2f3f2;
			outline-style: none;
		}
	}
}
