.calendar__page--month {
	.week {
		padding-top: 30px;
		display: grid;
		grid-template-columns: repeat(7, minmax(70px, 1fr));
		.day {
			flex: 1;
			display: flex;
			justify-content: center;
			color: black;
			font-family: 'Gotham Bold';
			font-size: 13px;
		}
	}
	.month {
		padding-top: 10px;
		display: grid;
		grid-template-columns: repeat(7, minmax(70px, 1fr));

		.day {
			height: 118px;
			border-top: 1px solid black;
			&.disabled {
				color: gray;
				background-color: #ebebeb;
				border-top: none;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			align-content: space-evenly;
			height: 100%;
			.date {
				display: flex;
				justify-content: center;
				width: 100%;
				color: black;
				&.disabled {
					color: gray;
				}
			}
		}
	}
}
