.calendar__page {
	background-color: #f2f3f2;
	min-height: 98vh;
	width: 100%;
	.calendar__page--content {
		padding: 70px 10px;
		.actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-top: 20px;
			.date {
				font-family: 'Gotham Bold';
				font-size: 35px;
			}
			button {
				background-color:transparent;
				padding-left: 30px;
				padding-right: 30px;
				cursor: pointer;
				color: #dc5249;
				font-weight: 600;
				outline: none;
				border: none;

				svg {
					height: 10px;
					width: 10px;
					path {
						transition: 0.3s ease-in-out all;
						fill: #dc5249;
					}
				}

				&:nth-child(3) {
					svg {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}
